[submodule "pack/plugins/start/nvim-treesitter"]
	path = pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/plugins/start/mini.nvim"]
	path = pack/plugins/start/mini.nvim
	url = https://github.com/echasnovski/mini.nvim.git
[submodule "pack/plugins/start/vim-lucius"]
	path = pack/plugins/start/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius.git
[submodule "pack/plugins/start/lazygit.nvim"]
	path = pack/plugins/start/lazygit.nvim
	url = https://github.com/kdheepak/lazygit.nvim.git
[submodule "pack/plugins/start/plenary.nvim"]
	path = pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "pack/plugins/start/nui.nvim"]
	path = pack/plugins/start/nui.nvim
	url = https://github.com/MunifTanjim/nui.nvim.git
[submodule "pack/plugins/start/nvim-web-devicons"]
	path = pack/plugins/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "pack/plugins/start/neo-tree.nvim"]
	path = pack/plugins/start/neo-tree.nvim
	url = https://github.com/nvim-neo-tree/neo-tree.nvim.git
