[submodule "pack/plugins/start/nvim-treesitter"]
	path = pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/plugins/start/mini.nvim"]
	path = pack/plugins/start/mini.nvim
	url = https://github.com/echasnovski/mini.nvim.git
[submodule "pack/plugins/start/vim-lucius"]
	path = pack/plugins/start/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius.git
